.form-control{
    width: max-content;
}
.select_year{
    margin: 0 30px;
    width: 100%;
}
.select_month{
    width: 100%;
}

@media (max-width : 739px){
	.header_content {
		flex-direction: column;
	}
    .select_seach{
        margin: 30px 0;
    }

    .select_year{
        margin: 0 30px;
        width: 60%;
    }
    .select_month{
        width: 60%;
    }
}